:root{
    --background-color:#ffffff;
    --btn-color:#0987f2;
    --btn-text-color:#fff;
    --project-card-bg:#ffffff00;
    --text-color:#222;
    --form-text-color:#555;
    --footter-text-color:#888;
}

body[data-theme='dark']{
    --background-color:#1a1a1a;
    --btn-color:#0987f2;
    --btn-text-color:#fff;
    --project-card-bg:#2a2a2a;
    --text-color:#fff;
    --form-text-color:#ccc;
    --footter-text-color:#bbb;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin:0 60px;

}

#root{
    display: flex;
    flex-direction:column;
    gap:60px;


}

h1,h2,h3,p{
color:var(--text-color);
margin:0;
padding: 0;

}


h2,h3,p{
    font-family: 'Roboto Mono',monospace;
}

h1,h2{
    text-transform: uppercase;
}

h2,h3{
    font-size: 20px;
}
h1{
    font-family: 'rubik',sans-serif;
}

p{
    font-size:16px;
    font-weight:300px ;
}

.searchTitle{
    margin-bottom: 30px;
}

.hover{
    cursor: pointer;
}

@media(width>=800){
    #root{
    gap:100px;}
    h1{
    font-size:40px;
    }
    h2,
    h3{
    font-size: 24px;
    }
    p{
    Font-size: 20px;
    }
    sectionTitle{
    margin-bottom:60px;
}

}


@media(width>=1400){
    #root{
    gap:200px;}
    h1{
    font-size:48px;
    }
    /* h2,
    h3{
    font-size: 24px;
    }
    p{
    Font-size: 20px;
    } */
    sectionTitle{
    margin-bottom:75px;
}

}

